saved_states/potential-2ratchet_fluctuation-independent-points_activity-0.00_L-256_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-3219.jld2
run_and_tumble/recovered_states_matched/matching_report.txt
run_and_tumble/recovered_states_matched_no_dups/matching_report.txt
run_and_tumble/run_and_tumble_parrallel.jl
run_and_tumble/file_matching.log
run_and_tumble/dummy_states/.DS_Store
run_and_tumble/dummy_states/active_case/.DS_Store
run_and_tumble/dummy_states/passive_case/.DS_Store
run_and_tumble/results_figures/2D_potential-xy_slides_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-32_rho-1.0e+02_alpha-0.00_gammap-32.00_D-1.0_t-351006705/.DS_Store
run_and_tumble/results_figures/potential-linear_slides_cut1_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-1024_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-120002190/.DS_Store
run_and_tumble/results_figures/potential-linear_slides_cut2_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-1024_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-210003076/.DS_Store
run_and_tumble/results_figures/potential-ratchet_PmLr_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-256_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-189001890/.DS_Store
run_and_tumble/results_figures/potential-smudge_Vscale-16.0_fluctuation-reflection_activity-0.00_L-256_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-154000991/.DS_Store
run_and_tumble/results_figures/potential-zero_fluctuation-independent-points_activity-0.00_L-64_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-10000000/.DS_Store
run_and_tumble/results_figures/potential-zero_fluctuation-independent-points_activity-0.00_L-64_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-20000000/.DS_Store
run_and_tumble/results_figures/potential-well_Vscale-16.0_fluctuation-reflection_activity-0.00_L-256_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-410008200/.DS_Store
run_and_tumble/results_figures/potential-smudge_Vscale-2.0_fluctuation-reflection_activity-0.60_L-256_rho-1.0e+02_alpha-0.30_gammap-0.10_D-1.0_t-216002106/.DS_Store
run_and_tumble/results_figures/potential-ratchet_PmLr_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-512_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-261006237/.DS_Store
run_and_tumble/results_figures/potential-ratchet_PmLr_Vscale-16.0_fluctuation-profile_switch_activity-0.00_L-1024_rho-1.0e+02_alpha-0.00_gammap-1.00_D-1.0_t-315006561/.DS_Store
run_and_tumble/saved_states_parallel/.DS_Store
run_and_tumble/results_figures/.DS_Store
